<cwi-header>
</cwi-header>
<div class="container">
  <div class="espaco"></div>
  <div class="row">
    <div class="col-lg-8 mb-4">
      <h2>Sugerir Estabelecimento</h2>
      <form name="sentMessage" ng-submit="cadastrarEstabelecimento(estabelecimento)" id="contactForm" novalidate>
        <div class="control-group form-group">
          <div class="form-group">
            <label class="campo-cadastro">Buscar Estabelecimento</label>
            <input id="autocomplete" ng-class="{'enviar': enviar}" placeholder="Ex: Avenida Theodomiro Porto da Fonseca - Cristo Rei, São Leopoldo - RS, Brazil" class="form-control" type="text" ng-model="localizacao" required />
          </div>
        </div>
        <div ng-if="buscouEstab">
          <div class="control-group form-group">
            <div class="controls">
              <label>Nome:</label>
              <input type="text" class="form-control" disabled ng-model="estabelecimento.Nome" value="{{estabelecimento.Nome}}"required data-validation-required-message="Please enter your name.">
              <!-- <label>{{estabelecimento.Nome}}</label> -->
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Foto:</label>
              <input type="file" id="file" name="pic" accept="image/*">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Endereço:</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Rua" placeholder="Rua, Avenida, Alameda, etc."  required data-validation-required-message="Please enter your name.">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Numero" placeholder="Número"  required data-validation-required-message="Please enter your name.">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Apto" placeholder="Apartamento" required data-validation-required-message="Please enter your name.">
                </div>
              </div>
              <p class="help-block"></p>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Bairro:</label>
                <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Bairro" required data-validation-required-message="Please enter your name.">
              </div>
              <div class="col-md-4">
                <label>Cidade:</label>
                <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Cidade" required data-validation-required-message="Please enter your name.">
              </div>
              <div class="col-md-4">
                <label>Estado:</label>
                <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Estado" required data-validation-required-message="Please enter your name.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Preço Médio:</label>
              <input type="number" step="0.01" ng-model="estabelecimento.PrecoMedio" class="form-control" required data-validation-required-message="Please enter your name.">
            </div>
            <div class="col-md-4">
              <label>Horário de Abertura:</label>
              <input type="time" class="form-control" ng-model="estabelecimento.HorarioAbertura" required data-validation-required-message="Please enter your name.">
            </div>
            <div class="col-md-4">
              <label>Horário de Fechamento:</label>
              <input type="time" class="form-control" ng-model="estabelecimento.HorarioFechamento"  required data-validation-required-message="Please enter your name.">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Telefone:</label>
              <input type="text" class="form-control" ng-model="estabelecimento.Telefone" required data-validation-required-message="Please enter your name.">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>CEP:</label>
              <input type="text" class="form-control" ng-model="estabelecimento.Endereco.CEP" required data-validation-required-message="Please enter your name.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Categorias</label>
              <div>
              </div>
            </div>
            <div class="panel panel-default">
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive table-bordered">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td><label>
                          <input type="checkbox" value="">
                        </label></td>
                        <td>Alimentação(Almoço,Jantar)</td>
                      </tr>
                      <tr>
                        <td>
                          <label>
                            <input type="checkbox" value="">
                          </label>
                        </td>
                        <td>Café</td>
                      </tr>
                      <tr>
                        <td>
                          <label>
                            <input type="checkbox" value="">
                          </label>
                        </td>
                        <td>Vida Noturna</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Preferências</label>
              <div>
                <div class="input-group">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Pesquisar</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <h4>Resultado da Pesquisa</h4>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive table-bordered">
                <table class="table">
                  <thead class="card-header">
                    <tr>
                      <th></th>
                      <th>Preferência</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><label>
                        <input type="checkbox" value="">
                      </label></td>
                      <td>Comida Vegetariana</td>

                    </tr>
                    <tr>
                      <td>
                        <label>
                          <input type="checkbox" value="">
                        </label>
                      </td>
                      <td>local geek</td>
                    </tr>
                    <tr>
                      <td><label>
                        <input type="checkbox" value="">
                      </label>
                    </td>
                    <td>Frutos do mar</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <div class="panel panel-default">
          <h4>Preferências Selecionadas</h4>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-responsive table-bordered">
              <table class="table">
                <thead class="card-header">
                  <tr>
                    <th>Preferência</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Comida Vegetariana</td>
                  </tr>
                  <tr>
                    <td>local geek</td>
                  </tr>
                  <tr>
                    <td>Frutos do mar</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <div id="success"></div>
      <!-- For success/fail messages -->
      <button type="submit" class="btn btn-primary" id="sendMessageButton">Salvar</button>
    </div>

    </form>
  </div>
</div>
</div>
</div>
<script src="https://apis.google.com/js/platform.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrNVnB-vyQcOlvyUvsF1wAOLbogzuTLHo&callback&libraries=places"></script>
