<cwi-header>
</cwi-header>
<div class="container">
  <div class="espaco"></div>
  <div class="row">
    <div class="col-lg-8 mb-4">
      <h2>Sugerir Estabelecimento</h2>
      <form name="sugerirEstabelecimento" ng-submit="cadastrarEstabelecimento(estabelecimento)" id="contactForm" novalidate>
        <div class="control-group form-group">
          <div class="form-group">
            <label class="campo-cadastro">Buscar Estabelecimento</label>
            <input id="autocomplete" ng-class="{'enviar': enviar}" placeholder="Ex: Avenida Theodomiro Porto da Fonseca - Cristo Rei, São Leopoldo - RS, Brazil" class="form-control" type="text" ng-model="localizacao" required />
          </div>
        </div>
        <div ng-if="buscouEstab">
          <div class="control-group form-group">
            <div class="controls">
              <label>Nome:</label>
              <input type="text" class="form-control" disabled ng-model="estabelecimento.Nome" value="{{estabelecimento.Nome}}"required >
              <!-- <label>{{estabelecimento.Nome}}</label> -->
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Foto:</label>
              <input type="file" id="file" name="pic" accept="image/*" required>
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Endereço:</label>
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Rua" placeholder="Rua, Avenida, Alameda, etc."  required >
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Numero" placeholder="Número"  required >
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Apto" placeholder="Apartamento">(Não Obrigatório)
                </div>
              </div>
              <p class="help-block"></p>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Bairro:</label>
                <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Bairro" required >
              </div>
              <div class="col-md-4">
                <label>Cidade:</label>
                <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Cidade" required >
              </div>
              <div class="col-md-4">
                <label>Estado:</label>
                <input type="text" class="form-control" ng-model="estabelecimento.Endereco.Estado" required >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Preço Médio:</label>
              <input type="number" step="0.01" ng-model="estabelecimento.PrecoMedio" class="form-control" required >
            </div>
            <div class="col-md-4">
              <label>Horário de Abertura:</label>
              <input type="time" class="form-control" ng-model="estabelecimento.HorarioAbertura" required >
            </div>
            <div class="col-md-4">
              <label>Horário de Fechamento:</label>
              <input type="time" class="form-control" ng-model="estabelecimento.HorarioFechamento"  required >
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Telefone:</label>
              <input type="text" class="form-control" ng-model="estabelecimento.Telefone" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>CEP:</label>
              <input type="text" class="form-control" ng-model="estabelecimento.Endereco.CEP" required >
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Categoria</label>
              <select class="form-control dropdown" ng-selected="value=''" ng-model="filtro.Categoria" >
                <option ng-repeat="categoria in categorias" ng-value="categoria.Descricao">{{categoria.Descricao}}</option>
              </select>
            </div>
          </div>
          <preferencias-diretiva com-todas-preferencias="comTodasPreferencias" adicionar-preferencias-func="adicionarPreferencias" remover-preferencias-func="removerPreferencias"></preferencias-diretiva>
          
        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Salvar</button>
        <span class="danger-label" ng-show="sugerirEstabelecimento.$invalid && sugerirEstabelecimento.$submitted">Campos obrigatórios não preenchidos</span>
      </div>

    </form>
  </div>
</div>
</div>
</div>
<script src="https://apis.google.com/js/platform.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrNVnB-vyQcOlvyUvsF1wAOLbogzuTLHo&callback&libraries=places"></script>
