<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Full Width Pics - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/auxiliares/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

  <!-- Custom styles for this template -->
  <link href="/auxiliares/css/full-width-pics.css" rel="stylesheet">
  <link href="/auxiliares/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="img-fluid rounded mb-3 mb-md-0" src="/auxiliares/imgs/foodTime.png" alt="" style="width:150px;height:30px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Meus grupos
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meu Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notificações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span>Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header - set the background image for the header in the line below -->
  <header class="py-3 bg-image-full" style="background-image: url('auxiliares/imgs/1@2x.jpg');" id="header_usuario">
    <img class="d-flex_usuario mr-6 rounded-circle" src="/auxiliares/imgs/photo.jpg" alt="">
    <!-- Content section -->
    <section class="py-3">
      <div class="container">
        <h1 class="cor_usuario">{{usuario.nome}}</h1>
        <br>
        <div class="row">
          <div class="col-md-12">
            <h4 class="cor_dados">Email:</h4> <span class="cor_resp">{{usuario.Email}}</span>
            <h4 class="cor_dados">Data de Nascimento:</h4> <span class="cor_resp">{{usuario.DataNascimento}}</span>
          </div>
          <br>
          <div class="container">
            <br>
            <div class="col-md-12s">
              <a class="btn btn-primary" href="#">Meus Gostos</a>
              <a class="btn btn-primary" href="#">Sugerir Estabelecimento</a>
              <a class="btn btn-primary" href="#">Aprovações</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <section class="py-5">
    <div class="container">
      <h3>Últimas Notas e comentários</h3>
      <br>
      <div class="row">
        <div ng-repeat="avaliacao in avaliacoes">

          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="/auxiliares/imgs/{{avaliacao.Nota}}.png" alt="" style="width:10%;">
            <div class="media-body">
              <h5 class="mt-0">{{avaliacao.Estabelecimento.Nome}}</h5>
              {{avaliacao.Comentario}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content section -->
  <section class="py-3">
    <div class="container">
      <h3>Estabelecimentos Recomendados</h3>
      <br>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" ng-repeat="recomendacao in recomendacoes">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/auxiliares/imgs/res_03.jpg" alt="" style="width:255px;height:155px;"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{recomendacao.Nome}}</a>
              </h4>
              <p class="card-text">Telefone: {{recomendacao.Telefone}}</p>
              <p class="card-text">Preco Medio: R$ {{recomendacao.PrecoMedio}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Projeto Crescer 2017-2</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/auxiliares/vendor/jquery/jquery.min.js"></script>
  <script src="/auxiliares/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
