
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/auxiliares/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/auxiliares/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/auxiliares/assets/css/form-elements.css">
        <link rel="stylesheet" href="/auxiliares/assets/css/style.css">

       
        <link rel="shortcut icon" href="/auxiliares/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/auxiliares/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/auxiliares/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/auxiliares/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/auxiliares/assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    </head>

    <body>
 <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><img class="img-fluid rounded mb-3 mb-md-0" src="/auxiliares/imgs/foodTime.png" alt="" style="height:80px;" ></h1>
                            <div class="description">
                            	<p>
	                            	Encontre aqui os melhores estabelecimentos para suas refeições!
	                            	Rede Social de recomendações de Estabelecimentos.
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login para o nosso site</h3>
                            		<p>Entre com seu email e senha para log on:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<img class="img-fluid rounded mb-3 mb-md-0" src="/auxiliares/imgs/relogio_new.jpg" alt="" style="height:80px;" >
                        		</div>
                            </div>
                            <div class="form-bottom">
                            <form name="formLogin" ng-submit="login(usuario)">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Email</label>
                                        <input ng-model="usuario.email" type="text" class="form-control" name="email" id="email"  required>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Senha</label>
                                        <input ng-model="usuario.senha" type="password" class="form-control" name="senha" id="senha"  required>
                                    </div>
			                        <button type="submit" class="btn">Entrar</button>
			                    </form>
		                    </div>
                        </div>
                    </div>

                </div>
            </div>
