.table-overflow
{
	max-height:130px;
	overflow-y:auto;
	margin-bottom:20px;
}

.table-overflow_participantes{
	max-height:220px;
	overflow-y:auto;
	margin-bottom:20px;
}
.nav-link{
	font-weight:bold;
	color:white;
}
.bg-dark {
	/*background-color: #ffc107!important;*/
	background-color: rgb(117,62,31)!important;
}

.navbar-dark .navbar-nav .nav-link .nav-link {
	color: rgba(0,0,0,.9);
	/*background-color: #ffc107!important;*/
	background-color: rgb(117,62,31)!important;
	
}

.navbar-dark .navbar-nav .nav-link .nav-link {
    color: white;

}

.navbar-dark .navbar-brand {
	font-weight:bold;
	color: #1b1e21;
}

.navbar-dark .navbar-nav .nav-link {
	color: #1d2124;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav  {
	color: #1d2124;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav  {
    color: white;

}

.show>.nav-link{
	color: white;
}

.btn-primary:hover {
	color: #fff;
	font-weight:bold;
	background-color: rgb(236,66,36);
	border-color: rgb(172,39,86);

}
.btn-auxiliar{
	/* color: #fff; */
    background-color: rgb(225,142,4);
    border-color: black;
    
}
.btn-auxiliar{
	color: white;

	font-weight:bold;
	background-color: rgb(236,66,36);
	border:1px solid black;
}

.btn-auxiliar:hover{
	color: #fff !important;
	background-color: rgb(193, 58, 34);;

	color: white;
	font-weight:bold;
	background-color: #B92107;
	border:1px solid black;

}

.btn-primary {
	color: black;
	font-weight:bold;
	background-color: rgb(252,185,78);
	border-color: black;
}

.btn-primary:hover{
	background-color: rgba(204, 148, 60, 1);
}

.btn_pesquisa{
	background-color: rgb(252,185,78);
	border-color: rgb(252,185,78);
}
.d-flex_usuario{
	width:15%;
	height:10%;
	margin-left:20%;
	border: 5px solid rgb(252,185,78);
	margin-top:50px;
}

.d-flex_grupo{
	width:230px;
	height:230px;
	margin-left:20%;
	border: 5px solid rgb(252,185,78);
	margin-top:50px;
}

#header_usuario{
	display: flex;
	margin-top:3.5%;
	height:20%;
}
.cor_usuario{
	color:rgb(252,185,78);
}
.cor_dados{
	color:rgb(255,165,74);
	text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px
}
.cor_resp{
	color: white;
	font-weight: bold;
}
.top-content{
	background-image: url('../imgs/fundo_09.jpg');
	background-size: cover;
	height: 100%;

}

#img_relogio{
	padding-top: 80px;
}
#texto_avaliar{
	padding-top: 80px;
}

.table-overflow_grupo{
	max-height:330px;
	overflow-y:auto;
	margin-bottom:20px;
}
.table-overflow_preferencias{
	max-height:270px;
	overflow-y:auto;
	margin-bottom:20px;
}
.border_img{
	border: 3px solid rgb(236,66,36);

}

.border_img_grupos{
	border: 3px solid rgb(236,66,36);

}
.palavra_titulo{
	font-weight: bold;
}
.palavra_resp{
	font-weight: bold;
	color:rgb(127,127,127);
}
.clickable-area:hover{
	background:rgb(255, 8, 8);
}

.text{
	font-weight: bold;
}
.texto{
	color: white;
}
.border_logo{
	text-shadow:white 1px -1px, white -1px 1px, white 1px 1px, white -1px -1px
}
.border_estabelecimento{
	border: 2px solid #888888;
	padding: 2%;
}