body {
  padding-top: 0px;
  height: 100%;
}

.content {
  padding: 10px 15px;
}

.navbar-form label {
  color: #9d9d9d;
}

.fixed{
   position: absolute;
   bottom: 0px;
   width: 100%

}

.success-label{
  color: green;
  font-weight: bold;
}

.danger-label{
  color: red;
  font-weight: bold;
}


.dimencao-imagem{
  width: 175px;
}

.btn_pesquisa_lupa{
  background-image:url("../auxiliares/imgs/lupa.png");
}

.input-group-btn{
  background-image:url("auxiliares/imgs/lupa.png");
}

.clickable-area{
  cursor: pointer;

}
.clickable-area:hover{
  background-color: #f7f7f7;
}
.espaco{
  height: 100px;
}
