
<div class="control-group form-group">
  <div class="controls" >
    <label>Buscar participante</label>
    <div >
      <div class="input-group">
        <input type="text" ng-model="filtro" class="form-control" placeholder="Buscar usuarios por nome ou e-mail">
        <span class="input-group-btn">
          <a class="btn btn-primary" ng-click="buscarUsuarioPorFiltro(filtro)" id="sendMessageButton">Pesquisar</a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" ng-if="mostraTabela">
  <h4>Resultado da Pesquisa</h4>
  <!-- /.panel-heading -->
  <div class="table-overflow_grupo">
    <div class="panel-body">
      <div class="table-responsive table-bordered">
        <table class="table">
          <thead class="card-header">
            <tr>
              <th>Participante</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="usuario in usuarios">
              <td class="clickable-area" ng-click="selecionarUsuario(usuario)">
                <div class="media mb-4">
                  <img class="d-flex mr-3 rounded-circle" src="../auxiliares/fotos/{{usuario.FotoPerfil}}" alt="" style="width:50px;height:50px;">
                  <div class="media-body">
                    <h5 class="mt-3">{{usuario.Nome}}</h5>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<span class="danger-label" ng-if="naoEncontrou">Nenhum Usuario encontrado</span>
<div class="panel panel-default" ng-if="solicitacoes.length != 0">
  <h4>Participantes Selecionados</h4>
  <!-- /.panel-heading -->
  <div class="table-overflow_grupo">
    <div class="panel-body">
      <div class="table-responsive table-bordered">
        <table class="table">
          <thead class="card-header">
            <tr>
              <th>Participante</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="solicitacao in solicitacoes">
              <td class="clickable-area" ng-click="removerUsuario(solicitacao)">
                <div class="media mb-4">
                  <img class="d-flex mr-3 rounded-circle" src="../auxiliares/fotos/{{solicitacao.FotoPerfil}}" alt="" style="width:50px;height:50px;">
                  <div class="media-body">
                    <h5 class="mt-3">{{solicitacao.Nome}}</h5>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
  </div>
</div>
<!-- For success/fail messages -->
