
<link href="auxiliares/css/full-width-pics.css" rel="stylesheet">
<!--colocar a diretiva home/header.directive-->
<cwi-header></cwi-header>
<!-- Header - set the background image for the header in the line below -->
<header class="py-3 bg-image-full" style="background-image: url('auxiliares/imgs/1@2x.jpg');" id="header_usuario">
  <img class="d-flex_usuario mr-6 rounded-circle" src="{{grupo.Imagem || 'https://image.freepik.com/icones-gratis/grupo-de-usuarios-silhueta_318-49953.jpg'}}" alt="">
  <!-- Content section -->
  <section class="py-3">
    <div class="container">
      <br><br><br>
      <h1 class="cor_usuario">{{grupo.Nome}}</h1>
      <br>
      <div class="row">
        <br>
        <div class="container">
          <br>
          <div class="col-md-12s">
            <a class="btn btn-primary" href="#">Adicionar Participante</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<section class="py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div><h3>Participantes</h3></div>
        <br>
        <div class="table-overflow_participantes">
          <div class="media mb-4" ng-repeat="participante in participantes">
            <img class="d-flex mr-3 rounded-circle" src="{{participante.Usuario.FotoPerfil || 'https://n6-img-fp.akamaized.net/icones-gratis/homem-negro-simbolo-usuario_318-60703.jpg?size=338&ext=jpg'}}" alt="" style="width:50px;height:50px;">
            <div class="media-body">
              <h5 class="mt-0">{{participante.Usuario.Nome}}</h5>
              E-mail: {{participante.Usuario.Email}}
            </div>
          </div>
        </div>
        <span class="danger-label" ng-if="participantes.length == 0">Este grupo ainda não possui participantes</span>
      </div>
      <div class="col-md-6">
        <div><h3>Participantes Convidados</h3></div>
        <br>
        <div class="table-overflow_participantes">
          <div class="media mb-4" ng-repeat="solicitacao in solicitacoes">
            <img class="d-flex mr-3 rounded-circle" src="{{solicitacao.Usuario.FotoPerfil || 'https://n6-img-fp.akamaized.net/icones-gratis/homem-negro-simbolo-usuario_318-60703.jpg?size=338&ext=jpg'}}" alt="" style="width:50px;height:50px;">
            <div class="media-body">
              <h5 class="mt-0">{{solicitacao.Usuario.Nome}}</h5>
              E-mail: {{solicitacao.Usuario.Email}}
            </div>
          </div>
        </div>
        <span class="success-label" ng-if="solicitacoes.length == 0">Nenhuma solicitação pendente</span>

      </div>
    </div>


  </div>
</div>
</section>
<!-- Content section -->
<section class="py-3">
  <div class="container">
    <h3>Estabelecimentos Recomendados para o Grupo</h3>
    <br>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="auxiliares/imgs/res_03.jpg" alt="" style="width:255px;height:155px;"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Pizzaria Rominelli</a>
            </h4>
            <p>Telefone:(51) xxxx-xxxx</p>
            <p>Preço Médio: R$ XX,XX</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="auxiliares/imgs/res_02.jpg" alt="" style="width:255px;height:155px;"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Pizzaria Rominelli</a>
            </h4>
            <p>Telefone:(51) xxxx-xxxx</p>
            <p>Preço Médio: R$ XX,XX</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="auxiliares/imgs/res_03.jpg" alt="" style="width:255px;height:155px;"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Pizzaria Rominelli</a>
            </h4>
            <p>Telefone:(51) xxxx-xxxx</p>
            <p>Preço Médio: R$ XX,XX</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="auxiliares/imgs/res_01.jpg" alt="" style="width:255px;height:155px;"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Pizzaria Rominelli</a>
            </h4>
            <p>Telefone:(51) xxxx-xxxx</p>
            <p>Preço Médio: R$ XX,XX</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
