<cwi-header></cwi-header>
<header class="py-3 bg-image-full" style="background-image: url('auxiliares/imgs/1@2x.jpg');" id="header_usuario">
  <img class="d-flex_usuario mr-6 rounded-circle" src="/../auxiliares/fotos/{{grupo.Foto}}"
    alt="">
  <section class="py-3">
    <div class="container">
        <div class="espaco_2"></div>
      <h1 class="cor_dados">{{grupo.Nome}}</h1>
    </div>
  </section>
</header>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h3>Participantes</h3>
        </div>
        <br>
        <div class="table-overflow_participantes">
          <div class="media mb-4" ng-repeat="participante in participantes">
            <img class="d-flex mr-3 rounded-circle" src="{{participante.Usuario.FotoPerfil || 'https://n6-img-fp.akamaized.net/icones-gratis/homem-negro-simbolo-usuario_318-60703.jpg?size=338&ext=jpg'}}"
              alt="" style="width:50px;height:50px;">
            <div class="media-body">
              <h5 class="mt-0">{{participante.Usuario.Nome}}</h5>
              E-mail: {{participante.Usuario.Email}}
            </div>
          </div>
        </div>
        <span class="danger-label" ng-if="participantes.length == 0">Este grupo ainda não possui participantes</span>
      </div>
      <div class="col-md-6">
        <div>
          <h3>Participantes Convidados</h3>
        </div>
        <br>
        <div class="table-overflow_participantes">
          <div class="media mb-4" ng-repeat="solicitacao in solicitacoes">
            <img class="d-flex mr-3 rounded-circle" src="{{solicitacao.Usuario.FotoPerfil || 'https://n6-img-fp.akamaized.net/icones-gratis/homem-negro-simbolo-usuario_318-60703.jpg?size=338&ext=jpg'}}"
              alt="" style="width:50px;height:50px;">
            <div class="media-body">
              <h5 class="mt-0">{{solicitacao.Usuario.Nome}}</h5>
              E-mail: {{solicitacao.Usuario.Email}}
            </div>
          </div>
        </div>
        <span class="success-label" ng-if="solicitacoes.length == 0">Nenhuma solicitação pendente</span>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="py-3">
  <div class="container">
    <h3 ng-if="mostraRecomendacoes">Estabelecimentos Recomendados para o Grupo</h3>
    <br>
    <div class="row" ng-if="mostraRecomendacoes">
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" ng-repeat="recomendacao in recomendacoes">
        <div class="card h-100">
          <a href="#!/estabelecimento/{{recomendacao.Id}}"><img class="card-img-top" src="{{recomendacao.Fotos[0] || '\\auxiliares\\imgs\\logoFoodTime_new.jpg'}}" alt="" style="width:100%;height:155px;"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#!/estabelecimento/{{recomendacao.Id}}">{{recomendacao.Nome}}</a>
            </h4>
            <p class="card-text">Telefone: {{recomendacao.Telefone}}</p>
            <p class="card-text">Preco Medio: R$ {{recomendacao.PrecoMedio}}</p>
            <div>
              <a class="btn btn-primary" href="#!/avaliar/{{recomendacao.Id}}">Avaliar</a>
              <a class="btn btn-danger" ng-click="excluirRecomendacao(recomendacao.Id)">Recusar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h3>Adicionar participantes ao grupo</h3>
    <div class="row">
      <div class="col-md-6">
        <adicionar-participantes id-grupo="grupo.Id" esta-criando="false"></adicionar-participantes>
      </div>
    </div>
  </div>
</section>
