<cwi-header></cwi-header>
<div class="espaco"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 border-table fundo_panel">
      <div>
        <h3>Criar Grupo</h3>
      </div>
      <form name="formGrupo" id="contactForm" novalidate>
        <div class="control-group form-group">
          <div class="controls">
            <label>Nome:</label>
            <input type="text" ng-model="grupo.Nome" class="form-control" id="name" placeholder="Digite o nome do grupo" required data-validation-required-message="Por favor, digite seu nome.">
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Foto:</label>
            <input type="file" class="btn" id="file" required>
            <p class="help-block"></p>
          </div>
        </div>
        <adicionar-participantes id-grupo="0" selecionar-participante="selecionarParticipante" remover-participante="removerParticipante"></adicionar-participantes>
        <button type="submit" ng-click="criarGrupo(grupo)" class="btn btn-primary" id="sendMessageButton">Salvar</button>
        <span class="danger-label" ng-show="formGrupo.$invalid && formGrupo.$submitted">Todos os campos devem ser preenchidos</span>
      </form>
    </div>
    <div class="col-md-6">
      <section class="py-3">
        <div class="container">
          <h3>Meus Grupos</h3>
          <br>
          <div class="row">
            <div class="col-lg-5 col-md-4 portfolio-item" ng-repeat="grupo in gruposUsuario">
              <div class="card h-100 border-table-estabelecimento">
                <a><img class="card-img-top" src="/../auxiliares/fotos/{{grupo.Foto}}" alt="" style="width:100%;height:155px;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#!/informacoesGrupo/{{grupo.Id}}">{{grupo.Nome}}</a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="espaco"></div>
  <!-- /.container -->
